<div class="container-fluid text-center visually-hidden">
    <form id="new-list-form" data-user_id="{{user_id}}">
        <div class="form-group row">
            <label for="list-title" class="col-sm-2 col-form-label">List Title</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="list-title" placeholder="Your wish list's title here">
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-dark" id="new-list-save-btn">Save</button>
            </div>
        </div>
    </form>
</div>