<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Assets/style.css">
    <title>Document</title>
</head>



<body>
    <header class="header">
        <h1 class="title">Present Pear</h1>
        <button class="logIn"> Log In</button>
        <button class="signUp" id="sign-Up-button"> Sign up</button>
    </header>

    <div class="gift-container">
        <div class="gifts">
            <button class="hello"><img src="/Basic Practice/Assets/1f44c.png" alt="" class="border"></button>
        </div>
        <div class="gifts">
            <button class="hello"><img src="/Basic Practice/Assets/1f44c.png" alt="" class="border"></button>
        </div>
    </div>
    <div class="group-container">
        <div class="WTF">
            <div class="gifts">
                <button class="hello"><img src="./Assets/268d801d8df16da61b829be1d4d52dfae67c6f1er1-720-720v2_uhq.jpg" alt="" class="border"></button>
            </div>
            <div class="gifts">
                <button class="hello"><img src="./Assets/268d801d8df16da61b829be1d4d52dfae67c6f1er1-720-720v2_uhq.jpg" alt="" class="border"></button>
            </div>
            <div class="gifts">
                <button class="hello"><img src="./Assets/268d801d8df16da61b829be1d4d52dfae67c6f1er1-720-720v2_uhq.jpg" alt="" class="border"></button>
            </div>
    </div>

</body>
</html>