<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Assets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="./Assets/PRESENTPARE-01.png">
</head>



<body>
    <header class="header">
        <h1 class="title">Present Pear</h1>
        <button class="logIn"> Log In</button>
        <button class="signUp" id="sign-Up-button"> Sign up</button>
    </header>
    <div class="mainBody grid gap-6 grid-cols-2">
        <H1 class="heading"> Your Gifts </H1>
        <H1 class="heading"> Your Groups </H1>
        <div class="gift-container grid gap-1 grid-cols-3">
            <div class="gifts">
                <button class="hello"><img src="./Assets/226-2260733_blazes-are-monster-villains-from-minecraft-imagenes-de.png" alt="" class="pics"></button>
            </div>
            <div class="gifts">
                <button class="hello"><img src="./Assets/226-2260733_blazes-are-monster-villains-from-minecraft-imagenes-de.png" alt="" class="pics"></button>
            </div>
            <div class="gifts">
                <button class="hello"><img src="./Assets/226-2260733_blazes-are-monster-villains-from-minecraft-imagenes-de.png" alt="" class="pics"></button>
            </div>
        </div>
        <div class="group-container grid gap-1 grid-cols-3">
            <div class="gifts">
                <button class="hello"><img src="./Assets/268d801d8df16da61b829be1d4d52dfae67c6f1er1-720-720v2_uhq.jpg" alt="One" class="pics"></button>
            </div>
            <div class="gifts">
                <button class="hello"><img src="./Assets/268d801d8df16da61b829be1d4d52dfae67c6f1er1-720-720v2_uhq.jpg" alt="Two" class="pics"></button>
            </div>
            <div class="gifts">
                <button class="hello"><img src="./Assets/268d801d8df16da61b829be1d4d52dfae67c6f1er1-720-720v2_uhq.jpg" alt="Three" class="pics"></button>
            </div>
        </div>
    </div>

</body>
</html>