<head>
  <meta charset="UTF-8">
  <title>Place Holder</title>
</head>

<body>
  <div>
    <header>
      <h1>
        Header
      </h1>
    </header>
      <main>
        {{{ body }}}
      </main>
  </div>
  </body>