
<div class="container-fluid text-center">
  <div class="row row-col-2">
    {{! groups column }}
    <div id="groups-col" class="col g-light m-1 py-2">
      <h1 class="text-secondary display-6">Groups</h1>
      
      {{!-- button to show add-group form --}}
      <div class="container-fluid align-items-center">
        <button id="new-group-btn" class="btn btn-dark" type="button"> 
            New Group 
        </button>
      </div>
      {{!-- add-group form partial, rendered on button click --}}
        <div class="container-fluid text-center" id="addGroup-div">
          {{> newGroupForm }}
        </div>
      
      <div class="row row-cols-2 g-3">
        {{#each groups as |group|}}
          <div class="col">
            <p class="btn btn-outline-success p-3" data-group-id="{{group.id}}">{{group.title}}</p>
          </div>
        {{/each}}
      </div>
    </div>

    {{! list column }}
    <div id="lists-col" class="col g-light m-1 py-2">
      <h1 class="text-secondary display-6">Lists</h1>
      
      {{!-- button to show add-list form --}}
      <div class="container-fluid align-items-center">
        <button id="new-list-btn" class="btn btn-dark" type="button">
            New List
        </button>
      </div>

      {{!-- add-list form partial, rendered on button click --}}
      <div class="container-fluid text-center" id="addList-div">
        {{> newListForm }}
      </div>
      
      {{!-- remove list form --}}
      {{#if lists}}
        <div class="container-fluid text-center" id="deleteList-div">
          {{> deleteListForm }}
        </div>
      {{/if}}

      <div class="row row-cols-2 g-3">
        {{#each lists as |list|}}
          <div class="col">
            <p class="btn btn-outline-success p-3" data-list-id="{{list.id}}">{{list.title}}</p>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
