<div class="container-fluid text-center">
  <div class="row row-cols-2">
    {{! groups column }}
    <div id="groups-col" class="col">
      <h1>Groups</h1>
      <div class="row row-cols-2">
        {{#each groups as |group|}}
          <div class="col">
            <p data-group-id="{{group.id}}">{{group.title}}</p>
          </div>
        {{/each}}
      </div>
    </div>

    {{! list column }}
    <div id="lists-col" class="col">
      <h1>Lists</h1>
      <div class="row row-cols-2">
        {{#each lists as |list|}}
        <div class="card" data-list-id="{{list.id}}" style="width: 18rem">
          <div class="card-body">
            <h4 class="card-title" >{{list.title}}</h4>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>