<div class="container">
    <div class="card" id="login-card">
        <div class="card-header">
            Log In to Present Pear
        </div>
        <div class="card-body">
            {{!-- <h5 class="card-title"></h5> --}}
                {{!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> --}}
                <label for="formControlInput" class="form-label">Email address</label>
                <input type="email" class="form-control" id="formControlInput" placeholder="name@example.com">

                <label for="formControlInput" class="form-label">Password</label>
                <input type="password" class="form-control" id="formControlInput" placeholder="password">

                {{!-- <a href="#" class="btn btn-primary">Login</a> --}}
                <button type="button" class="btn btn-primary">Login</button>
        </div>
</div>