<div class="row justify-space-between-md"> {{! may want to change layout later}}
    <div class="login-card">
        <h2 class="page-title">Present Pear Login</h2>
        <form class="form login-form">
            <div class="form-group">
                <label for="email-login">Email:</label>
                <input class="form-input" type="text" id="email-input" />
            </div>
            <div class="form-group">
                <label for="password-login">Password:</label>
                <input class="form-input" type="password" id="password-input" />
            </div>
            <button class="btn btn-primary" type="submit">Log In</button>
        </form>
    </div>

<script src="../public/js/login.js"></script>
