<div class="jumbotron mx-3">
    <h1 class="display-3">Hello.</h1>
        <p class="lead">Login or create an account to continue.</p>
    <hr class="my-2">
        {{!-- <p>Enter your username and password:</p> --}}
        <form id="login-form">
            <div class="form-group row">
                <label for="login-email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="login-email" placeholder="email@example.com">
                </div>
            </div>
            <div class="form-group row">
                <label for="login-password" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="login-password" placeholder="password">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-dark" id="login-btn">Log in</button>
                </div>
            </div>
        </form>
    <hr class="my-2"
</div>

{{!-- User registration on same page for convenience --}}
{{!-- Would like to make final version smaller, ideally hidden / collapseable with button click --}}
<div class="container">
    <h2 class="display-7 mx-1 mb-2 text-center fw-light lh-base"> Sign Up with Present Pear </h1>
        <p class="fw-light fst-italic text-center"> Register for an account to get started creating and sharing wishlists for all your gift-giving events </p>
        <form id="signup-form" class="input-group input-group-sm">
            <input id="signup-username" type="username" class="form-control form-control-sm mx-1" placeholder="username">
            <input id="signup-email" type="email" class="form-control form-control-sm mx-1" placeholder="you@email.com">
            <input id="signup-password" type="password" class="form-control form-control-sm" placeholder="password">
            <button id="signup-btn" class="btn btn-dark mx-1" type="submit"> Submit </button>
        </form>
</div>

{{!-- make registration form collapseable? --}}
{{!-- <div class="container">
    <p>
        <a class="btn btn-dark" data-toggle="collapse" href="#collapseSignup" aria-expanded="false" aria-controls="collapseSignup">Register</a>
    </p>
    <div class="collapse" id="collapseSignup">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">sign up</h4>
                <h6 class="card-subtitle text-muted"></h6>
                    <form id="signup-form" class="input-group input-group-sm">
                        <input id="signup-email" type="email" class="form-control form-control-sm mx-1" placeholder="you@email.com">
                        <input id="signup-password" type="text" class="form-control form-control-sm mx-1" placeholder="password">
                        <button id="signup-btn" class="btn btn-dark mx-1" type="submit"> Submit </button>
                    </form>
        </div>
    </div>
</div> --}}

<script src="./js/login.js"></script>


