:root {
    --Concord: rgb(255, 187, 61);
    --Bosc:rgb(255, 138, 43);
    --PearRed: rgb(255, 43, 71);
    --Tosca: rgb(138, 255, 70);
    --Bartleft: rgb(236, 234, 65);
}

*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    font-family: 'Macondo';
}

body {
    
    background-color: rgb(63, 63, 63);
    color: rgb(145, 145, 145);
    border: 1px;
    box-sizing: content-box;
}
button:hover {
    box-shadow: inset 0px 0px 8px;
}


.header {
    background-color: var(--PearRed);
    height: 60px;
    display: flex;
    color: black;
    justify-content: right;
}

header h1 {
    flex-grow: 1;
}

.header button {
    background-color: var(--Bosc);
    border-radius: 7%;
    
}

.header button:hover {
    box-shadow: inset 0px 0px 8px;
}



.saved, .new {
    border: 2px solid black;
    margin-top: 6px;
    padding: 10px;
    flex-direction: row;
    justify-content: flex-end;
   
}


header, .saved {
    padding-top: 20px;
    padding: 10px;
    justify-content: right;
}

.title {
    padding: 10px;
}

.container {
    padding: 10px;
    max-width: 50%;
    height: 350px;
    display: flex;
    font-weight: bold;
    gap: 1em;
}


.border{
    border: 5px solid rgb(0, 0, 0);
    background-color: var(--Bosc);
    height: 350px;
    display: flex;
    align-self: flex-start;
}

.container-description {
    display: flex;
    border: 1px;
    height: 250px;
    flex-direction: column;
    justify-content: space-around;
    
}

.container-Stats {
    display: flex;
    border: 1px;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 350px;
    align-self: center;;
}

.container-companion {
    border: 1px;
    align-self: center;
    height: 350px;
    box-sizing: content-box;
}


#Gen-Btn, #Save-Btn {
    background-color: var(--Bosc);
    color: var(--Bartleft);
    font-weight: bold;
    padding: 20px;
    font-size: 30px;
    border-radius: 7%;
}