:root {
    --Concord: rgb(255, 187, 61);
    --Bosc:rgb(255, 138, 43);
    --PearRed: rgb(255, 43, 71);
    --Tosca: rgb(138, 255, 70);
    --Bartleft: rgb(236, 234, 65);
}

*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    font-family: 'Macondo';
}

.body {
    background-color: rgb(255, 138, 43);
    color: rgb(145, 145, 145);
    border: 1px;
    box-sizing: content-box;
}

button:hover {
    box-shadow: inset 0px 0px 8px;
}


.header {
    background-color: var(--PearRed);
    height: 60px;
    display: flex;
    color: black;
    justify-content: right;
}

header h1 {
    flex-grow: 1;
}

.header button {
    background-color: var(--Bosc);
    border-radius: 7%;
    
}

.header button:hover {
    box-shadow: inset 0px 0px 8px;
}



.saved, .new {
    border: 2px solid black;
    margin-top: 6px;
    padding: 10px;
    flex-direction: row;
    justify-content: flex-end;
   
}


.header, .saved {
    padding-top: 20px;
    padding: 10px;
    justify-content: right;
}

.title {
    padding: 10px;
}

.gift-container {
    padding: 10px;
    max-width: 50%;
    min-width: 50%;
    height: 750px;
    display: flex;
    font-weight: bold;
    float: left;
    position: relative;
    background-color:aqua;
}


.border{
    border: 5px solid rgb(0, 0, 0);
    background-color: var(--Bosc);
    height: 200px;
    display: flex;
    align-self: flex-start;
}

#signUp-btn, #logIn-btn {
    background-color: var(--Bosc);
    color: var(--Bartleft);
    font-weight: bold;
    padding: 20px;
    font-size: 30px;
    border-radius: 7%;
}

.WTF {
    color: var(--Bosc);
    padding: 1rem;
}

.gifts {
    padding: 10px;
}

.addPeople-Btn {
    background-color: var(--Tosca);
}

.group-container {
    padding: 10px;
    max-width: 50%;
    height: 750px;
    display: flex;
    font-weight: bold;
    float: center;
    position: relative;
    background-color: red;
}